.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#title{
  height: 690px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.btn-apple, .btn-googleplay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-apple > img{
  padding-right: 5px;
}

.btn-googleplay > img{
  padding-right: 5px;
  filter: invert(99%) sepia(1%) saturate(5%) hue-rotate(9deg) brightness(102%) contrast(104%);
}

.btn-googleplay:hover > img{
  filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(140deg) brightness(102%) contrast(107%);
}

.img-thumbnail{
  border-radius: 50%;
  height: 100px;
  width: 100px;
border: none;
  padding: 0;
}

.companies > img {
height: 15%;
width: 15%;
}


@media (max-width: 767px) {
  .companies{
    display: flex;
    justify-content: center !important;
    background-color: green;
  }
}